@charset "UTF-8";
body{
    background-color: black;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
        p{
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a{
            color: white;
        }
        iframe{
            text-align: center;
            margin: auto;
            display: flex;
        }